{{!-- page currently in work --}}

<!DOCTYPE html>
<html>

<head>

  <title>Profile Analytics</title>


  <link rel="stylesheet" href="css/style.css" type="text/css">

  <!-- For Google chart -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



  <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var graph1 = new Array();
      graph1[0] = new Array('String', 'Maths', 'greedy', 'dp',
        'Graph', 'misc');
      //   var temp=['Hello']+[1,3]
      //   console.log(temp)


      var ag1 = Array({{ g1.a1 }})
      var index=1;
    console.log(ag1)
    graph1[index++] = new Array('<1100', ag1[0], ag1[1], ag1[2], ag1[3], ag1[4]);
    if(ag1[5]|| ag1[6]|| ag1[7]|| ag1[8]|| ag1[9])
    graph1[index++] = new Array('1100-1500', ag1[5], ag1[6], ag1[7], ag1[8], ag1[9])
    if(ag1[10]||ag1[11]||ag1[12]||ag1[13]|| ag1[14])
    graph1[index++] = new Array('1600-2000', ag1[10], ag1[11], ag1[12], ag1[13], ag1[14])
    if(ag1[15]||ag1[16]||ag1[17]|| ag1[18]|| ag1[19])
    graph1[index++] = new Array('>2100', ag1[15], ag1[16], ag1[17], ag1[18], ag1[19])

    var g1 = graph1;

    console.log(g1)
    var data = google.visualization.arrayToDataTable(g1);

    var options = {
      //  title: 'Number of problems solved ',
      legend: { position: 'none' },
      hAxis: { title: 'Ratings of problems' },
      vAxis: { title: 'Number of Problems solved' },
     
      
      // isStacked: true,
      // is3D:true

    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
      }
  </script>



  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart1);
  var pa={{problem_type.a}}
  console.log(pa)
    function drawChart1() {
      var ag2 = Array({{ g1.a2 }})
    var graph1 = new Array()
    graph1[0] = new Array("Name", "Frequency");
    graph1[1] = new Array("Maths", ag2[0])
    graph1[2] = new Array("Greedy", ag2[1])
    graph1[3] = new Array("DP", ag2[2])
    graph1[4] = new Array("Graph", ag2[3])
    graph1[5] = new Array("Misc", ag2[4])
    //  console.log(g2)
    var g2 = graph1;
    console.log(g2)
    var data = google.visualization.arrayToDataTable(g2);

    var options = {
      //   title: 'Topic wise Problems solved',
     
      //is3D: true
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
      }
  </script>


  {{!-- .........error type.......... --}}

  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart1);

    function drawChart1() {
      //var ag2 = Array({{ g1.a2 }})
    var graph1 = new Array()
    graph1[0] = new Array("Name", "Error");
    graph1[1] = new Array("TLE", {{error_type.tle}})
    graph1[2] = new Array("Wrong Answer", {{error_type.wa}})
    graph1[3] = new Array("Compilation error", {{error_type.ce}})
    graph1[4] = new Array("Ac", {{error_type.ac}})
    graph1[5] = new Array("Runtime Error", {{error_type.re}})
    graph1[6] = new Array("Other", {{error_type.oth}})
    //  console.log(g2)
    var g2 = graph1;
    console.log(g2)
    var data = google.visualization.arrayToDataTable(g2);

    var options = {
      //   title: 'Topic wise Problems solved',
    pieHole: 0.4,
    //  is3D: true
    };

    var chart = new google.visualization.PieChart(document.getElementById('error_type'));

    chart.draw(data, options);
      }
  </script>
{{!-- .......................................... --}}


  {{!-- Problem Type --}}
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart1);

    function drawChart1() {
     var index=0;
    var graph1 = new Array()
    graph1[index++] = new Array("Name", "Problem",{ role: 'style' });
    graph1[index++] = new Array(" A", {{problem_type.a}},'#ff7a7a')
    if({{problem_type.b}})
    graph1[index++] = new Array(" B", {{problem_type.b}},'#eed853')
    if({{problem_type.c}})
    graph1[index++] = new Array(" C", {{problem_type.c}},'#4acec4')
    if({{problem_type.d}})
    graph1[index++] = new Array(" D", {{problem_type.d}},'#91eabb')
    if({{problem_type.e}})
    graph1[index++] = new Array(" E", {{problem_type.e}},'#b87333')
    if({{problem_type.f}})
    graph1[index++] = new Array(" F", {{problem_type.f}},'pink')
    
     if({{problem_type.g}})
    graph1[index++] = new Array(" G", {{problem_type.g}},'#bf1f2e')
     if({{problem_type.h}})
    graph1[index++] = new Array(" H", {{problem_type.h}},'Red')
    
    //  console.log(g2)
    var g2 = graph1;
    console.log(g2)
    var data = google.visualization.arrayToDataTable(g2);

    var options = {
      //   title: 'Topic wise Problems solved',
   legend: { position: 'none' },
      hAxis: { title: 'Problem Type' },
      vAxis: { title: 'Number of Problems solved' },
      //is3D: true
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('problem_type'));

    chart.draw(data, options);
      }
  
  </script>
  
  {{!-- .................................. --}}

  {{!-- solve_type --}}
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart1);

    function drawChart1() {
      var ag2 = Array({{ g1.a2 }})
    var graph1 = new Array()
    graph1[0] = new Array("Name", "Solved Questions Type");
    graph1[1] = new Array("During Contest", {{solve_type.contest}})
    graph1[2] = new Array("Practiced after contest", {{solve_type.practice}},)
   
    //  console.log(g2)
    var g2 = graph1;
    console.log(g2)
    var data = google.visualization.arrayToDataTable(g2);

    var options = {
      //   title: 'Topic wise Problems solved',
       
      colors: ['#ff7a7a', '#4acec4'],
      is3D: true
    };

    var chart = new google.visualization.PieChart(document.getElementById('solve_type'));

    chart.draw(data, options);
      }
  </script>

  {{!-- ........................... --}}



</head>

<body>

  <div class="main-content" id="panel">
    <!-- Topnav -->

    <nav class="navbar navbar-top navbar-expand ">
      <div class="container-fluid">
          <div class="col-0 text-right">
                  <a href="https://www.linkedin.com/in/naveenkumar160/" class="btn btn-sm btn-primary">LinkedIn</a>
                  <a href="https://github.com/Naveeng007/codeforces_app" class="btn btn-sm btn-primary">Github</a>
            </div>
      </div>
      <div class="container-fluid">
          <div class="col-0 text-right">
                  
            </div>
      </div>
    </nav>
    <!-- Header -->
    <!-- Header -->

    <!-- Page content -->
    <div class="container-fluid ">
      <div class="row">
        <!-- Right side -->
        <div class="col-xl-4 order-xl-2">
          <!-- first card -->
          <div class="card card-profile">


            <div class="card-header" style="align-content: center;">
              <h1 >{{handle}}{{col}} </h5>
            </div>
            <div class="card-body pt-0">

              <div class="row">
                <div class="col">

                  <div class="card-profile-stats d-flex justify-content-center">

                    <div>
                      <span class="heading">{{solved}}</span>
                      <span class="description">Solved</span>
                    </div>

                    <div>
                      <span class="heading">{{rating}}</span>
                      <span class="description">Cur Ratings</span>
                    </div>
                    <div>
                      <span class="heading">{{max}}</span>
                      <span class="description">Max Ratings</span>
                    </div>
                    
                  </div>

                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                      <span class="heading">{{tried}}</span>
                      <span class="description">Number of Attempts</span>
                    </div>
                  <div>
                      <span class="heading">{{friends}}</span>
                      <span class="description">Friends of</span>
                    </div>
                    <div>
                      <span class="heading">{{contribution}}</span>
                      <span class="description">contributions</span>
                    </div>
                    
                  </div>
                </div>


              </div>


            </div>
          </div>

          <!-- friend card -->
          <div class="card card-profile">
            <div class="card-header"><i class="fas fa-chart-area mr-1"></i><strong>Enter codeforces Handle</strong></div>
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">

              </div>
            </div>

            <div class="card-body pt-0">

              <div class="row">
                <div class="col justify-content-center">

                  <div class="text-lg-left">

                    <form>
                      <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                      </div>
                      <button  class="btn btn-info">Search</button>
                    </form>



                  </div>
                </div>


              </div>


            </div>
          </div>
          

          {{!-- .................................... --}}
           <div class="card card-profile">
            <div class="card-header"><i class="fas fa-chart-area mr-1"></i><strong>Other Informations</strong></div>
            <div class="row ">
              <div class="col">
              

            <p id="demo"></p>
              </div>
            </div>

           <div class="card-body pt-0">

              <div class="row">
                <div class="col">

                  <div class="text-lg-left">

                      <div class="card mb-6">

                  <div class="card-header"><i class="fas fa-chart-area mr-1"></i>solved Type</div>
                  <div id="solve_type" style="width: 100%; height: 100%;"></div>

                </div>




                  </div>
                </div>


              </div>


            </div> 
          </div>

          {{!-- ?......................... --}}
        </div>

        <!-- Dashboard -->
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">{{handle}}'s Profile Analytics </h3>
                </div>
                {{!-- <div class="col-4 text-right">
                  <a href="/profile" class="btn btn-sm btn-primary">Dashboard</a>
                </div> --}}
              </div>
            </div>
            <div class="card-body">
              <form>



                <div class="card mb-6">

                  <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Rating wise problems solved </div>

                  <div id="chart_div"><canvas id="myAreaChart" width="700px" height="500%"></canvas></div>

                </div>

                <div class="card mb-6">

                  <div class="card-header"><i class="fas fa-chart-area mr-1"></i>problem type</div>
                  <div id="problem_type" style="width: 100%; height: 500px;"></div>

                </div>

                <div class="card mb-6">

                  <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Error Type</div>
                  <div id="error_type" style="width: 100%; height: 500px;"></div>

                </div>

                <div class="card mb-6">

                  <div class="card-header"><i class="fas fa-chart-area mr-1"></i>percentage of topics Solved</div>
                  <div id="piechart" style="width: 100%; height: 500px;"></div>

                </div>

                 

                 

                 



                <hr class="my-4" />



              </form>
            </div>
          </div>




        </div>


      </div>
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
              <strong>NOTE:</strong> Each Problems may have more than one tags
            </div>
          </div>
         
        </div>
      </footer>
    </div>
  </div>

  <script src="js/searchbar.js"></script>

  

</body>

</html>